html body {
    margin: 0px;
    display: inline-block;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    padding-left: 20%;
    padding-right: 20%;
    height: 64px;
}

.header .logo {
    display: flex;
    margin-block: 0px;
    font-size: 24px;
    font-weight: bold;
    margin-left: auto;
    flex: 1;
    align-self: center;
}

.header-link {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    align-content: center;
}

.header-link a,
p {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}


.container {
    display: flex;
    padding: 48px;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #1F2937;
    gap: 30px;
    height: 300px;
}

.discription {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: #F9FAF8;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    margin: 0px;
}

.discription button {
    color: white;
    background-color: #3882F6;
    margin-top: auto;
    font-weight: bold;
    border-style: none;
    border-radius: 7px;
    width: 120px;
    height: 40px;
    font-size: 18px;

}


.container img {
    width: 50%;

}

#title {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bolder;
    color: #1F2937;
    font-size: 36px;
    padding: 10px;
}

#main {
    background-color: #F9FAF8;
    margin: auto;
    padding-top: 0px;
    column-gap: 0px;
    width: 800px;
}


.item {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 150px;
    flex: 1;
    align-items: center;
}

.item img {
    height: 150px;
    width: 150px;
    flex: 1 0 auto;
    border-style: solid;
    border-radius: 9px;
    border-color: #3882F6;
}

.item p {
    color: #1F2937;
    height: 150px;
    width: 150px;
    text-align: center;
}

#quote {
    display: flex;
    flex-direction: column;
    padding-left: 30%;
    padding-right: 30%;
    gap: 10px;
    width: 800px;

}
.quote {
font-size: 36px;
margin: 0px;

}

.author {
align-self: end;
margin: 0px;
margin-right: 30px;
font-weight: bold;
}